:root {
    --max-width: 1440px;
    --border-radius: 12px;
  }
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  body,
  html {
    max-width: 100vw;
    overflow-x: hidden;
  }
  body {
    color: #0c1537;
  }
  a {
    color: inherit;
    text-decoration: none;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    line-height: 1.3;
    letter-spacing: normal;
    font-style: normal;
  }
  section {
    max-width: 1120px;
    width: 100%;
    margin: 0 auto;
  }
  @media only screen and (max-width: 1200px) {
    section {
      padding: 0 20px;
    }
  }
  .liquidColor {
    color: #22e1c9;
  }
  a.liquidColor:hover {
    color: #14909c;
  }
  .lightBg {
    background-color: #f6f7f9;
  }
  .darkBg {
    background-color: #0e012d;
    position: relative;
    top: -1px;
  }
  .blackBg {
    background-color: #000;
  }
  .text-white {
    color: #fff;
  }
  .text-gray {
    color: #fff;
    opacity: 0.6;
  }
  .centered {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .font-light {
    font-weight: 100;
  }
  .font-regular {
    font-weight: 400;
  }
  .font-semibold {
    font-weight: 600;
  }
  .font-bold {
    font-weight: 700;
  }
  .text-opacity {
    opacity: 0.6;
  }
  .text-center {
    text-align: center;
  }
  .leading {
    line-height: 25px;
  }
  .leading-tight {
    line-height: 36px;
  }
  .list-none {
    list-style-type: none;
  }
  .font-h1 {
    font-size: 48px;
  }
  @media (max-width: 475px) {
    .font-h1 {
      font-size: 30px;
    }
  }
  .font-h2 {
    font-size: 32px;
  }
  @media (max-width: 475px) {
    .font-h2 {
      font-size: 28px;
    }
  }
  .font-h3 {
    font-size: 26px;
  }
  @media (max-width: 475px) {
    .font-h3 {
      font-size: 26px;
    }
  }
  .font-h4 {
    font-size: 20px;
  }
  .font-h5 {
    font-size: 16px;
  }
  .font-h6 {
    font-size: 14px;
  }
  .font-p1 {
    font-size: 24px;
  }
  .font-p2 {
    font-size: 18px;
  }
  .font-p3 {
    font-size: 16px;
  }
  .font-p4,
  .font-p5 {
    font-size: 14px;
  }
  .font-p6 {
    font-size: 12px;
  }
  .font-btn-1 {
    font-size: 18px;
  }
  .font-btn-2 {
    font-size: 16px;
  }
  .m-0 {
    margin: 0;
  }
  .m-1 {
    margin: 2.5px;
  }
  .m-2 {
    margin: 5px;
  }
  .m-3 {
    margin: 10px;
  }
  .m-4 {
    margin: 15px;
  }
  .m-5 {
    margin: 30px;
  }
  .m-6 {
    margin: 60px;
  }
  .m-7 {
    margin: 100px;
  }
  .m-auto {
    margin: auto;
  }
  .mx-0 {
    margin-right: 0;
    margin-left: 0;
  }
  .mx-1 {
    margin-right: 2.5px;
    margin-left: 2.5px;
  }
  .mx-2 {
    margin-right: 5px;
    margin-left: 5px;
  }
  .mx-3 {
    margin-right: 10px;
    margin-left: 10px;
  }
  .mx-4 {
    margin-right: 15px;
    margin-left: 15px;
  }
  .mx-5 {
    margin-right: 30px;
    margin-left: 30px;
  }
  .mx-6 {
    margin-right: 60px;
    margin-left: 60px;
  }
  .mx-7 {
    margin-right: 100px;
    margin-left: 100px;
  }
  .mx-auto {
    margin-right: auto;
    margin-left: auto;
  }
  .my-0 {
    margin-top: 0;
    margin-bottom: 0;
  }
  .my-1 {
    margin-top: 2.5px;
    margin-bottom: 2.5px;
  }
  .my-2 {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .my-3 {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .my-4 {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .my-5 {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .my-6 {
    margin-top: 60px;
    margin-bottom: 60px;
  }
  .my-7 {
    margin-top: 100px;
    margin-bottom: 100px;
  }
  .my-auto {
    margin-top: auto;
    margin-bottom: auto;
  }
  .mt-0 {
    margin-top: 0;
  }
  .mt-1 {
    margin-top: 2.5px;
  }
  .mt-2 {
    margin-top: 5px;
  }
  .mt-3 {
    margin-top: 10px;
  }
  .mt-4 {
    margin-top: 15px;
  }
  .mt-5 {
    margin-top: 30px;
  }
  .mt-6 {
    margin-top: 60px;
  }
  .mt-7 {
    margin-top: 100px;
  }
  .mt-auto {
    margin-top: auto;
  }
  .mr-0 {
    margin-right: 0;
  }
  .mr-1 {
    margin-right: 2.5px;
  }
  .mr-2 {
    margin-right: 5px;
  }
  .mr-3 {
    margin-right: 10px;
  }
  .mr-4 {
    margin-right: 15px;
  }
  .mr-5 {
    margin-right: 30px;
  }
  .mr-6 {
    margin-right: 60px;
  }
  .mr-7 {
    margin-right: 100px;
  }
  .mr-auto {
    margin-right: auto;
  }
  .mb-0 {
    margin-bottom: 0;
  }
  .mb-1 {
    margin-bottom: 2.5px;
  }
  .mb-2 {
    margin-bottom: 5px;
  }
  .mb-3 {
    margin-bottom: 10px;
  }
  .mb-4 {
    margin-bottom: 15px;
  }
  .mb-5 {
    margin-bottom: 30px;
  }
  .mb-6 {
    margin-bottom: 60px;
  }
  .mb-7 {
    margin-bottom: 100px;
  }
  .mb-auto {
    margin-bottom: auto;
  }
  .ml-0 {
    margin-left: 0;
  }
  .ml-1 {
    margin-left: 2.5px;
  }
  .ml-2 {
    margin-left: 5px;
  }
  .ml-3 {
    margin-left: 10px;
  }
  .ml-4 {
    margin-left: 15px;
  }
  .ml-5 {
    margin-left: 30px;
  }
  .ml-6 {
    margin-left: 60px;
  }
  .ml-7 {
    margin-left: 100px;
  }
  .ml-auto {
    margin-left: auto;
  }
  .p-0 {
    padding: 0;
  }
  .p-1 {
    padding: 2.5px;
  }
  .p-2 {
    padding: 5px;
  }
  .p-3 {
    padding: 10px;
  }
  .p-4 {
    padding: 15px;
  }
  .p-5 {
    padding: 30px;
  }
  .p-6 {
    padding: 60px;
  }
  .p-7 {
    padding: 100px;
  }
  .px-0 {
    padding-right: 0;
    padding-left: 0;
  }
  .px-1 {
    padding-right: 2.5px;
    padding-left: 2.5px;
  }
  .px-2 {
    padding-right: 5px;
    padding-left: 5px;
  }
  .px-3 {
    padding-right: 10px;
    padding-left: 10px;
  }
  .px-4 {
    padding-right: 15px;
    padding-left: 15px;
  }
  .px-5 {
    padding-right: 30px;
    padding-left: 30px;
  }
  .px-6 {
    padding-right: 60px;
    padding-left: 60px;
  }
  .px-7 {
    padding-right: 100px;
    padding-left: 100px;
  }
  .py-0 {
    padding-top: 0;
    padding-bottom: 0;
  }
  .py-1 {
    padding-top: 2.5px;
    padding-bottom: 2.5px;
  }
  .py-2 {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .py-3 {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .py-4 {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .py-5 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .py-6 {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .py-7 {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .pt-0 {
    padding-top: 0;
  }
  .pt-1 {
    padding-top: 2.5px;
  }
  .pt-2 {
    padding-top: 5px;
  }
  .pt-3 {
    padding-top: 10px;
  }
  .pt-4 {
    padding-top: 15px;
  }
  .pt-5 {
    padding-top: 30px;
  }
  .pt-6 {
    padding-top: 60px;
  }
  .pt-7 {
    padding-top: 100px;
  }
  .pr-0 {
    padding-right: 0;
  }
  .pr-1 {
    padding-right: 2.5px;
  }
  .pr-2 {
    padding-right: 5px;
  }
  .pr-3 {
    padding-right: 10px;
  }
  .pr-4 {
    padding-right: 15px;
  }
  .pr-5 {
    padding-right: 30px;
  }
  .pr-6 {
    padding-right: 60px;
  }
  .pr-7 {
    padding-right: 100px;
  }
  .pb-0 {
    padding-bottom: 0;
  }
  .pb-1 {
    padding-bottom: 2.5px;
  }
  .pb-2 {
    padding-bottom: 5px;
  }
  .pb-3 {
    padding-bottom: 10px;
  }
  .pb-4 {
    padding-bottom: 15px;
  }
  .pb-5 {
    padding-bottom: 30px;
  }
  .pb-6 {
    padding-bottom: 60px;
  }
  .pb-7 {
    padding-bottom: 100px;
  }
  .pl-0 {
    padding-left: 0;
  }
  .pl-1 {
    padding-left: 2.5px;
  }
  .pl-2 {
    padding-left: 5px;
  }
  .pl-3 {
    padding-left: 10px;
  }
  .pl-4 {
    padding-left: 15px;
  }
  .pl-5 {
    padding-left: 30px;
  }
  .pl-6 {
    padding-left: 60px;
  }
  .pl-7 {
    padding-left: 100px;
  }
  .container {
    display: flex;
    flex-wrap: wrap;
  }
  .col-1 {
    width: 100%;
  }
  .col-1,
  .col-2 {
    flex: 0 0 auto;
    padding: 15px;
  }
  .col-2 {
    width: 50%;
  }
  .col-3 {
    width: 33.3333333333%;
  }
  .col-3,
  .col-4 {
    flex: 0 0 auto;
    padding: 15px;
  }
  .col-4 {
    width: 25%;
  }
  .col-5 {
    width: 20%;
  }
  .col-5,
  .col-6 {
    flex: 0 0 auto;
    padding: 15px;
  }
  .col-6 {
    width: 16.66666666666%;
  }
  .col-7 {
    flex: 0 0 auto;
    width: 14.28%;
    padding: 15px;
  }
  @media (max-width: 900px) {
    .col-1,
    .col-2,
    .col-3,
    .col-4 {
      width: 100%;
    }
    .col-5,
    .col-6,
    .col-7 {
      width: 30%;
    }
  }
  @media (max-width: 450px) {
    .col-1,
    .col-2,
    .col-3,
    .col-4,
    .col-5,
    .col-6,
    .col-7 {
      padding: 0;
      margin: 15px 0;
    }
    .col-5,
    .col-6,
    .col-7 {
      width: 100%;
    }
  }
  .homepage-developers-btn,
  .homepage-enterprise-btn,
  .homepage-merchants-btn,
  .homepage-users-btn {
    height: 45px;
    padding: 5px 18px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 8px;
    color: #fff;
    display: flex;
    max-width: max-content;
    justify-content: center;
    margin-top: 20px;
  }
  .homepage-developers-btn {
    background: #21b7e6;
  }
  .homepage-developers-heading {
    color: #21b7e6;
  }
  .homepage-developers-btn:hover {
    background: #41d0ff;
  }
  .homepage-users-btn {
    background: #e6c621;
  }
  .homepage-users-heading {
    color: #e6c621;
  }
  .homepage-users-btn:hover {
    background: #ffd600;
  }
  .homepage-enterprise-btn {
    background: #2170e6;
  }
  .homepage-enterprise-heading {
    color: #2170e6;
  }
  .homepage-enterprise-btn:hover {
    background: #4590ff;
  }
  .homepage-merchants-btn {
    background: #8f21e6;
  }
  .homepage-merchants-heading {
    color: #8f21e6;
  }
  .homepage-merchants-btn:hover {
    background: #b04cff;
  }
  .btn-white {
    height: 45px;
    padding: 5px 18px;
    border-radius: 8px;
    background: #fff;
    color: #0e012d;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    max-width: max-content;
    opacity: 1;
    margin-top: 20px;
  }
  .btn-with-arr,
  .dark-btn-arr {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    position: relative;
  }
  .dark-btn-arr:hover {
    background-color: #22e1c9;
  }
  .btn-with-arr > img,
  .dark-btn-arr > img {
    display: inline-flex;
    transition: transform 0.3s ease;
  }
  .btn-with-arr:hover > img,
  .dark-btn-arr:hover > img {
    transform: translateX(5px);
  }
  .card-list {
    list-style: none;
    padding-left: 0;
  }
  .card-list li {
    position: relative;
    padding-left: 30px;
    margin-bottom: 10px;
  }
  .card-list li:before {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none"><path d="M10.0373 11.6418L8.754 10.3584C8.57067 10.1751 8.35678 10.0834 8.11234 10.0834C7.86789 10.0834 7.654 10.1751 7.47067 10.3584C7.28734 10.5418 7.19567 10.7595 7.19567 11.0116C7.19567 11.2637 7.28734 11.4814 7.47067 11.6647L9.39567 13.6126C9.579 13.7959 9.79289 13.8876 10.0373 13.8876C10.2818 13.8876 10.4957 13.7959 10.679 13.6126L14.5748 9.71678C14.7582 9.53345 14.8498 9.31574 14.8498 9.06366C14.8498 8.81157 14.7582 8.59386 14.5748 8.41053C14.3915 8.2272 14.1738 8.13553 13.9217 8.13553C13.6696 8.13553 13.4519 8.2272 13.2686 8.41053L10.0373 11.6418ZM10.9998 20.0751C10.8929 20.0751 10.7936 20.0675 10.7019 20.0522C10.6103 20.0369 10.5186 20.014 10.4269 19.9834C8.36442 19.2959 6.72206 18.0241 5.49984 16.1678C4.27762 14.3116 3.6665 12.314 3.6665 10.1751V5.84386C3.6665 5.46192 3.77727 5.11817 3.9988 4.81261C4.22032 4.50706 4.50678 4.28553 4.85817 4.14803L10.3582 2.08553C10.5721 2.00914 10.7859 1.97095 10.9998 1.97095C11.2137 1.97095 11.4276 2.00914 11.6415 2.08553L17.1415 4.14803C17.4929 4.28553 17.7794 4.50706 18.0009 4.81261C18.2224 5.11817 18.3332 5.46192 18.3332 5.84386V10.1751C18.3332 12.314 17.7221 14.3116 16.4998 16.1678C15.2776 18.0241 13.6353 19.2959 11.5728 19.9834C11.4811 20.014 11.3894 20.0369 11.2978 20.0522C11.2061 20.0675 11.1068 20.0751 10.9998 20.0751Z" fill="%23DEDEDE"/></svg>');
    position: absolute;
    left: 0;
    top: -4px;
  }
  